In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [18]:
df=pd.read_csv("E:/ppts/machine learning/5-multiple-linear-reg/homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      5 non-null      int64
 1   bedrooms  4 non-null      float64
 2   age       5 non-null      int64
 3   price     5 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 288.0 bytes

In [20]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [21]:
median_bedrooms=df['bedrooms'].median()
median_bedrooms

3.5

In [22]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [23]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [25]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df['price']) #

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
reg.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])

In [27]:
reg.intercept_

656046.5390048662

In [30]:
reg.predict([[3000, 3, 40]])

array([330999.05823262])